@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;

.footer {
    text-align: center;
    padding-top: vw(20.5);
    padding-bottom: vw(20);
    .footer_text {
        font-size: vw(12);
        @include sp(){
            font-size: vw_sp(12);
        }
    }
}