@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;

.img-area {
    .img-area_block {
        display: flex;
        @include sp(){
            display: block;
        }
        .block_img {
            width: vw(400);
            height: vw(500);
            object-fit: cover;
            @include sp(){
                width: vw_sp(375);
                height: vw_sp(500);
            }
        }
    }
}