@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;

.recipe-diary {
    text-align: center;
    margin-bottom: vw(85);
    @include sp(){
        margin-bottom: vw_sp(85); 
    }
    .recipe-diary_title {
        font-size: vw(32);
        font-weight: bold;
        margin-bottom: vw(23);
        @include sp(){
            font-size: vw_sp(32);
            padding: 0 vw_sp(90) 0 vw_sp(91);
            margin-bottom: vw_sp(23);
        }

    }
    .recipe-diary_text {
        font-size: vw(16);

        @include sp(){
            font-size: vw_sp(16);
            padding: 0 vw_sp(27) 0 vw_sp(28);
        }
    }
}