@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;

.sns-area {
    display: flex;
    justify-content: center;
    gap: vw(20.5);
    margin-bottom: vw(20.5);
    .sns-area_link {
        font-size: vw(12);
        border-bottom: 1px solid #2B2A27;
        letter-spacing: 0px;
        color: #2B2A27;
        opacity: 1;
        @include sp(){
            font-size: vw_sp(12);
        }
    }
}